body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 20%;
    height: 10%;
    position: fixed;
}

.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.030em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    padding: 0px 10px;
    cursor: pointer;
    width: 1.4vw;
}

.banner-unicef {
    position: static;
    margin-top: 64px;
    background-color: #f1f1f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.logo-unicef {
    width: 10%;
}

.link {

    font-size: 17;
    padding: 0.8vw;
    color: #06c;
    text-decoration: none;
}

#macbook-air-banner {
    background-color: #fbfbfd;
    background-image: url("../images/apple_images/hero_macbookair__el7scava26mq_small.png");
    background-repeat: no-repeat;
    background-position: 20%;
    background-position-y: 85%;
    background-size: 1900px 990px;
    justify-content: center;
    align-items: flex-start;
    padding: 20% 10%;
    height: 5%;
    display: flex;
}

.macbook-air {
    display: inline-flex;
    flex-direction: column;
    padding-right: 30vw;

}

.information-buy-links {
    display: flex;
    flex-direction: row;
}

.headline {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin: 1.2vh;
    color: #1d1d1f;
}

#iphone-13-banner {
    background-color: #fbfbfd;
    background-image: url("../images/apple_images/hero_iphone13_avail__gnqqkzuai6um_largetall.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: top;
    background-size: 2000px 500px;
    height: 75%;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    margin: 1.5vh 0;
}

.iphone-13 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
}

#iphone-13-subtitulo {
    font-size: 25px;
    line-height: 0px;
    text-align: center;
    letter-spacing: 0.009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.mac-banner {
    background-color: #f5f5fa;
    background-image: url("../images/apple_images/hero_bts__bcuslanw39xe_largetall.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 10px;
    background-size: 2300px 570px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    margin: 1.5px 0;
}

.mac {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3vw;
    padding-top: 20px;
}

#mac-subtitulado {
    margin-top: -25px;
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #1d1d1f;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#headline-mac {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: italic;
    font-weight: bold;

}

span {
    color: #ca2166;
}

.product-image {
    width: 100%;
    height: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}

.headline-card{
    font-size: 42px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    margin: 1.2vh;
    margin-top: 50px;
}

.subtitulado-card {
    margin-top: 4px;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #1d1d1f;
    text-align: center;
    display: block;
    position: relative;

}

.iphone13pro {
    background-image: url("../images/apple_images/promo_iphone13pro_avail__beadms4ldidu_medium.jpg");
    background-repeat: no-repeat;
    background-color: #fbfbfd;
    background-position: 60px;
    background-position: 40px;
    width: 49%;
    height: 600px;
    margin: 5px;
}

.macbookpro {
    background-image: url("../images/apple_images/promo_mbp13__buwssod6c8vm_medium.jpg");
    background-repeat: no-repeat;
    background-position: 40px;
    color: white;
    background-color: #000000;
    width: 48.3%;
    height: 600px;
    margin: 5px;
}


#macbookpro1{
    justify-content: center;
    margin-left: 33%;
}

h2{
    color:white;
}

.watch {
    background-image: url("../images/apple_images/promo_watch_lte__djeaso7ukrsm_medium.jpg");
    background-repeat: no-repeat;
    background-color: #fbfbfd;
    background-position: 40px;
    width: 49%;
    height: 600px;
    margin: 5px;
}

#watch1{
    justify-content: center;
    margin-left: 38%;
    margin-top: 50px;
}

.sublinecardblack{
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    color: white;
}

.sublinecardwhite {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 400;
    letter-spacing: .012em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
}

.iPadair {
    background-image: url("../images/apple_images/promo_ipadair_avail__ferd4bfpcdm6_medium.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: 100%;
    background-position: 50%;
    background-position: 40px;
    width: 48.3%;
    height: 600px;
    margin: 5px;

}

#ipadair1{
    justify-content: center;
    margin-left: 38%;
    margin-top: 50px;
}

.apple-card {
    background-image: url("../images/apple_images/tile__cauwwcyyn9hy_medium.jpg");
    background-repeat: no-repeat;
    background-color: #fbfbfd;
    background-position: 40px;
    width: 49%;
    height: 600px;
    margin: 5px;
}

#card1{
    justify-content: center;
    margin-left: 40%;
    margin-top: 50px;
}

.airpods-pro {
    background-image: url("../images/apple_images/tile_airpods_cauwwcyyn9hy_large.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: 180px;
    background-position-y: 210px;
    background-position-y: 190px;
    color: white;
    width: 48.3%;
    height: 600px;
    margin: 5px;
}

.subtitulado-card{
    margin-top: 5px;
        font-size: 24px;
        line-height: 1.16667;
        font-weight: 400;
        letter-spacing: .009em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        color: #1d1d1f;
        text-align: center;
        display: block;
        position: relative;
        
}


.information-buy-links-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 17px;
    text-decoration: none;
}


.carrusel {
    display: flex;
    width: 100%;
    height: 80%;
    overflow-x: scroll;
}

.carruselimg {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
}

.footercontent{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    background-color: #f5f5f7;
}
#footertext{
    font-size: 12px;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}
#footertext a{
    text-decoration: none;
    color: #000000;
}